.header {
  color: var(--yellow);
  padding: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.header.darkblue {
  background-color: var(--darkblue);
}

.header.red {
  background-color: var(--red);
}

.header p {
  font-size: 1rem;
}
