.button {
  color: var(--yellow);
  border-top: 1px solid var(--yellow);
  border-left: 1px solid var(--yellow);
  border-right: 1px solid var(--yellow);
  border-bottom: 1px solid var(--darkblue);
  border-radius: var(--global-radius) var(--global-radius) 0 0;
  padding: 0.25rem;
  transition: all 0.5s ease;
}

.button.darkblue {
  background-color: var(--darkblue);
}

.button.red {
  background-color: var(--red);
}

.button.yellow {
  background-color: var(--yellow);
  color: var(--darkblue);
}
