.nav {
  justify-self: center;
  width: 100%;
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  margin-bottom: 10px;
}

.logo {
  cursor: pointer;
  transition: all 0.5s ease;
}

.logo:hover {
  transform: scale(0.9);
}

.connected-container {
  display: flex;
  gap: 2px;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
  border-top: 2px solid var(--red);
  border-left: 2px solid var(--red);
  border-right: 2px solid var(--red);
  border-radius: var(--global-radius);
}

.connected-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-bottom: 2px solid var(--red);
  border-radius: var(--global-radius);
  transition: all 0.5s ease;
}

.connected-container button:hover {
  color: var(--red);
}
