.buttons {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.button {
  width: 100%;
}

.active {
  background-color: var(--darkblue);
  border-color: var(--yellow);
  color: var(--yellow);
}

.profile-elements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (hover) {
  .active:hover {
    border-color: var(--yellow);
    color: var(--yellow);
  }
}

@media screen and (max-width: 800px) {
  .buttons {
    flex-direction: column;
    align-items: center;
  }
  .button {
    max-width: 15rem;
  }
}
